Package: libpam-elogind-dbgsym
Source: elogind
Version: 234.4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Andreas Messer <andi@bastelmap.de>
Installed-Size: 767
Depends: libpam-elogind (= 234.4)
Section: debug
Priority: extra
Multi-Arch: same
Homepage: https://github.com/elogind/elogind
Description: Debug symbols for libpam-elogind
Build-Ids: 8af2eafa0314ac19deccaa5288d9452af93d9696
