Package: libpam-elogind
Source: elogind
Version: 234.4
Architecture: amd64
Maintainer: Andreas Messer <andi@bastelmap.de>
Installed-Size: 323
Depends: libacl1 (>= 2.2.51-8), libc6 (>= 2.17), libcap2 (>= 1:2.10), libpam0g (>= 0.99.7.1), libselinux1 (>= 1.32), libpam-runtime, elogind (= 234.4)
Conflicts: libpam-systemd
Replaces: libpam-systemd
Provides: libpam-systemd
Section: admin
Priority: optional
Multi-Arch: same
Homepage: https://github.com/elogind/elogind
Description: elogind PAM module
 Plugable Authentication Module to register a session with elogind
