Package: libelogind0-dbgsym
Source: elogind
Version: 234.4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Andreas Messer <andi@bastelmap.de>
Installed-Size: 795
Depends: libelogind0 (= 234.4)
Section: debug
Priority: extra
Multi-Arch: same
Homepage: https://github.com/elogind/elogind
Description: Debug symbols for libelogind0
Build-Ids: b0adf56e478b0676b34891d2acc3492d5caaea9d
