Package: elogind
Version: 234.4
Architecture: amd64
Maintainer: Andreas Messer <andi@bastelmap.de>
Installed-Size: 2089
Pre-Depends: debconf
Depends: libacl1 (>= 2.2.51-8), libc6 (>= 2.17), libselinux1 (>= 2.0.65), libudev1, libelogind0 (= 234.4), lsb-base (>= 3.1), dbus (>= 1.4)
Recommends: policykit-1
Conflicts: systemd
Provides: logind
Section: admin
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/elogind/elogind
Description: user, seat and session management daemon
 elogind is a session management daemon extracted from systmd project's
 "logind"
