Package: elogind-dbgsym
Source: elogind
Version: 234.4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Andreas Messer <andi@bastelmap.de>
Installed-Size: 2725
Depends: elogind (= 234.4)
Section: debug
Priority: extra
Homepage: https://github.com/elogind/elogind
Description: Debug symbols for elogind
Build-Ids: 24567f87a803d2e8cfbfeaf1ae188fdcee711a3d 442d66ffb1642c167e9473bfa100beba41dc7af8 a285523b936cc895a23feba3d8a83b27c0bd13af e6e4b47f8b0b074ac9dc2a809e9dee6a77b84834
