Package: libelogind-dev
Source: elogind
Version: 234.4
Architecture: amd64
Maintainer: Andreas Messer <andi@bastelmap.de>
Installed-Size: 445
Depends: libelogind0 (= 234.4)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/elogind/elogind
Description: user, seat and session management library (development files)
 This package contains the files needed for developing applications that
 use libelogind
